#Laatikko {
  border: 1px solid;
  padding: 10px;
  box-shadow: 10px 20px;
  background-image: url("https://images.pexels.com/photos/364668/pexels-photo-364668.jpeg?cs=srgb&dl=pexels-dana-tentis-364668.jpg&fm=jpg");
  background-size: cover;
  text-align: center;
}

#linkki {
  text-shadow: 3px 3px red;
}

 a {
  color: black;
  background-color: white;
}

a:hover {
  color: red;
  transition-property: color;
  transition-duration: 1s;
}

@media only screen and (max-width: 800px) {
  body {
    color: white;
    background-color: black;
  }
}

p {
  background-color: white;
}
