table, th, td {
  border: 1px solid black;
  width: 100%;
}

th {
  background-color: orange;
  color: white;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: green;
  color: white;
  width: 100%;
}

