
table, th, td {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: middle;
  }

input[type=button], input[type=submit], input[type=reset] {
  background-color: lightgreen;
  color: white;
  width: 100%;
}
