#nav3 {
  float: left;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

#section3 {
  float: left;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

header {
  background-color: red;
}

nav {
  background-color: orange;
}

section {
  background-color: Blue;
}

body { 
  background-color: black;
  color: white;
  width: 90%;
margin-left: auto;
margin-right: auto;
}

h1 {
  font-size: 20px;
}

p {
  font-size: 20px;
}

p {
  color: white;
}

.box {
  height: 100px;
  width: 100px;
  border: 2px dotted;
}
  
ol {
  list-style-type: upper-alpha;
}

ul {
  list-style-type: square;
}

a:link {
  color: blue;
}

a:hover {
  color: red;
}
