#nav3 {
  float: leftt;
}

#section3 {
  float: left;
}

header {
  background-color: red;
}

nav {
  background-color: orange;
}

section {
  background-color: Blue;
}

body { 
  background-color: black;
  color: white;
  width: 90%;
margin-left: auto;
margin-right: auto;
}

h1 {
  font-size: 20px;
}

p {
  font-size: 12px;
}

p {
  color: green;
}

.box {
  height: 100px;
  width: 100px;
  border: 2px dotted;
}
  
ol {
  list-style-type: upper-alpha;
}

ul {
  list-style-type: square;
}
